@using WebLayer.Models;
@using WebLayer.Helpers;

@model ICollection<ImageModel>

@{
    Layout = null;
}
<script src="~/Content/LikeScript.js"></script>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        @foreach (var img in Model)
        {

            <div class="panel-default ">
                <div class="panel-heading">
                    @Html.ActionLink(img.UserName, "Index", "User", new { userName = img.UserName }, null)
                </div>
                <div class="panel-thumbnail">
                    <img src="@Url.Content(img.Url)" alt="Image" class="galeryImage-full img-responsive" data-id="@img.Id" />
                </div>
                <div class="panel-body description">
                    @MvcHtmlString.Create(img.Description)
                    <p class="pull-right">
                        <span class="countOfLikes">@img.CountOfLikes</span>
                        <a href="#" class="likeButton" data-imageid="@img.Id" data-status="@img.IsLiked">
                            @if (img.IsLiked)
                {
                                <span class="glyphicon glyphicon-heart"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-heart"></span>
                            }
                        </a>
                    </p>
                </div>
            </div>
        }

    </div>
    <div class="col-sm-3"></div>
</div>
    @if (ViewBag.IsEnd != true)
    {
        <div style="text-align:center;" class="col-sm-12" id="more-div">
            <button class="btn btn-default btn-circle" data-from="navigation" id="more">More</button>
        </div>
    }
