
@model UserModel
@using WebLayer.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width">
    <script src="~/Content/FollowScript.js"></script>
    <script src="~/Content/LoadScript.js"></script>
    <script src="~/Content/LikeScript.js"></script>
    <script src="~/Content/UploadScript.js"></script>
    <title>@Model.UserName</title>

</head>
<body>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-thumbnail">
                    <img src="Files/mainImg.jpg" alt="Image" class="galeryImage img-thumbnail img-circle" />
                </div>
                <div class="panel-body">
                    <h3>@Model.UserName</h3>
                    @if (User.Identity.Name == @Model.UserName)
                    {
                        <h4>ITS YOU</h4>
                    }
                    else
                    {

                        if (!Model.IsFollowing)
                        {
                            <button class="followButton btn btn-primary" data-username="@Model.UserName" data-status="@Model.IsFollowing">
                                <span id="followText">Follow</span>
                            </button>
                        }
                        else
                        {
                            <button class="followButton btn btn-primary" style="background-color:lawngreen" data-username="@Model.UserName" data-status="@Model.IsFollowing">
                                <span id="followText">Unfollow</span>
                            </button>
                        }

                        if (User.IsInRole("admin"))
                        {

                            @Ajax.ActionLink("...", "GetRoleStatus", "Role", new { userName = Model.UserName }, new AjaxOptions { UpdateTargetId = "roleStatus" })
                            <div id="roleStatus"></div>

                        }

                    }
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="profile-panel">
                <ul class="nav nav-tabs  nav-justified">
                    <li class="active">
                        @Ajax.ActionLink("Images", "Images", new { userName = Model.UserName }, new AjaxOptions { UpdateTargetId = "profileContent" })
                    </li>
                    <li class="passive">
                        @Ajax.ActionLink("Followers", "Followers", new { userName = Model.UserName }, new AjaxOptions { UpdateTargetId = "profileContent" })
<!-- <span id=
                        "countOfFollowers">@Model.CountOfFollowers</span>-->
                        </li>
                    </li>
                    <li class="passive">
                        @Ajax.ActionLink("Followings", "Followings", new { userName = Model.UserName }, new AjaxOptions { UpdateTargetId = "profileContent" })
<!-- <span id="c
                        ountOfFollowings">@Model.CountOfFollowings</span>-->
                        </li>

                    </li>

                </ul>
            </div>
            <div>
                @if (User.Identity.Name == Model.UserName)
                {
                    <form id="uploader">
                        <input id="imageInput" type="file" accept=".png,.jpg,.jpeg,.gif,.tif" multiple>
                        <textarea id="imageText" name="fileText"></textarea>
                        <input type="submit" id="uploadSubmit" value="Upload image" data-username="@Model.UserName" />
                    </form>
                }
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div id="profileContent" data-username="@Model.UserName">
                        @Html.Action("Images", new { userName = Model.UserName })

                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <!--<div>
            <div>

            </div>

           <div>
                <h3>Model.UserName</h3>
                if (User.Identity.Name == Model.UserName)
                {
                <h4>ITS YOU</h4>
                }
                else
                {
                    <button id="followButton" data-username="Model.UserName" data-status="Model.IsFollowing">
                        if (!Model.IsFollowing)
                        {
                            <span id="followText">Follow</span>
                        }
                        else
                        {
                            <span id="followText">Unfollow</span>
                        }
                    </button>
                }

         </div>
            <div>
                <div>
                    Ajax.ActionLink("Images","GetUserImages", "Image", new { userName = Model.UserName }, new AjaxOptions { UpdateTargetId = "content" })

                </div>
                  <div>
                    Ajax.ActionLink("Followers", "Followers", new { userName = Model.UserName }, new AjaxOptions { UpdateTargetId = "content" })
                    <span id="countOfFollowers">Model.CountOfFollowers</span>
                </div>
                <div>
                    Ajax.ActionLink("Followings", "Followings", new { userName = Model.UserName }, new AjaxOptions { UpdateTargetId = "content" })
                    <span id="countOfFollowings">Model.CountOfFollowings</span>
                </div>
                <div>
                    using (Ajax.BeginForm("Search", "Image", new AjaxOptions { UpdateTargetId = "content" }))
                    {

                        <input type="text" name="text" />
                        <input type="submit" value="Search" />
                    }

                </div>
                <div>



                </div>
            </div>
             <div id="content">
                 Html.Action("GetUserImages", "Image", new { userName = Model.UserName })
             </div>

    </div> -->
</body>
</html>

